<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826872578364-hedpn3ea2egs9ru594a8fu3kek8ppf73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826872578364-hedpn3ea2egs9ru594a8fu3kek8ppf73</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>826872578364-j1rv2u702rqn3m6pnimioh6dktcf8avi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYHwKllEDfm-f47XgwTgt06oXB0tHJHGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>826872578364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitnessevo</string>
	<key>PROJECT_ID</key>
	<string>fit-evo-prod-c85cf</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-evo-prod-c85cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826872578364:ios:c8a11692e8de1b93ce5e39</string>
</dict>
</plist>