<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51738943910-0hu5uhpub5hnjvjdfhump9uhkcfkvjk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51738943910-0hu5uhpub5hnjvjdfhump9uhkcfkvjk6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>51738943910-9n63jdb0use41b163rp3eknjlqr1arm6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDn_Bk2ihT2CPh_X79zyjsbtJ64DWjNvt4</string>
	<key>GCM_SENDER_ID</key>
	<string>51738943910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitnessevo</string>
	<key>PROJECT_ID</key>
	<string>fit-evo-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-evo-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51738943910:ios:c1c4d915d9ba577a0aaf67</string>
</dict>
</plist>