<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51738943910-156opgo7dpf3lb6svipak1tiu15oitob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51738943910-156opgo7dpf3lb6svipak1tiu15oitob</string>
	<key>API_KEY</key>
	<string>AIzaSyDn_Bk2ihT2CPh_X79zyjsbtJ64DWjNvt4</string>
	<key>GCM_SENDER_ID</key>
	<string>51738943910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitevo</string>
	<key>PROJECT_ID</key>
	<string>com.fitevo</string>
	<key>STORAGE_BUCKET</key>
	<string>com.fitevo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51738943910:ios:8fb2bb663f5d5ede0aaf67</string>
</dict>
</plist>